[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Installer
Name[fr]=Installation
Name[pl]=Instalator
Name[es]=Instalador
Name[gl]=Instalador
TryExec=shr-installer
GenericName=SHR Installer
Comment=python-elementary and PackageKit based installer for SHR systems
Comment[pl]=Instalator dla systemów SHR, oparty na python-elementary i PackageKit
Comment[es]=Instalador para SHR basado en python-elementary y PackageKit
Comment[gl]=Instalador para SHR baseado en python-elementary e PackageKit
StartupNotify=true
Exec=shr-installer
Terminal=false
Type=Application
Categories=Settings;
Icon=shr-installer
